.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: burlywood;
}

.table-container {
  width: 90%;
  margin: 0 auto;
  background-color: bisque;
}
